body {
  height: 100%;
  min-height: 100%;
  font-size: 1.4em;
  font-weight: bold;
}

.loginBox {
  border-color: #b7b7b7;
  border-width: thin;
  border-style: solid;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  background-color: #ffffff;
  opacity: 0.8;
  padding: 0 !important;
  transform: translate(-50%, -50%);
}

.loginHeader {
  border-bottom: thin solid gray;
  margin-bottom: 1em;
  background-color: #FAFAFA;
  padding: 1em; }

.login-img {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

.bg-3rdColor {
  color: #FFF;
  border-color: #B45F1A;
  background-color: #FF8E29; }

.bg-2ndColor {
  color: #FFF;
  border-color: #3DC4F5;
  background: none repeat scroll 0% 0% #5BCCF6; }

.bg-1stColor {
  color: #FFF;
  border-color: #79B030;
  background: none repeat scroll 0% 0% #8ECA3F; }

.form-horizontal {
  padding: 1em !important; }

.loginBox input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

/*# sourceMappingURL=main-style.css.map */
