<div ng-controller="loginController">
    <img class="login-img" src="images/bg21.jpg">

    <div ng-switch on="showScreen">
        <div class="loginBox col-xs-10 col-md-4 wow bounceInDown animated" ng-switch-default>

            <div class="loginHeader">
                <div class="row">

                    <div class="col-sm-6 col-xs-6"><Strong>
                        تسجبل الدخول
                    </Strong>
                        <small><p>
                            الدخول إلي نظام تواصل
                        </p></small>
                    </div>
                    <div class=" col-sm-offset-2 col-sm-4 col-xs-6">
                        <button type="submit" ng-click="showRegisterScreen()" class="btn bg-3rdColor btn-block">
                            مستخدم جديد
                        </button>
                    </div>
                </div>
            </div>
            <form class="form-horizontal" role="form" name="loginForm">
                <div class="form-group">
                    <label class="col-sm-3 col-xs-6 control-label">
                        البريد الإلكتروني
                    </label>

                    <div class=" input-group col-sm-8 col-xs-offset-1 col-xs-10">
                        <input class="form-control" name="userEmail" required="" type="email" pattern="{{emailRegExp}}"
                               oninvalid="setCustomValidity('من فضلك ادخل البريد الإلكتروني بطريقة صحيحة ')"
                               placeholder="البريد الإلكتروني">
                                <span class="input-group-addon bg-2ndColor">
                                <i class="fa fa-at "></i>
                                </span>
                    </div>

                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-3 col-xs-6 control-label">
                        كلمة المرور
                    </label>

                    <div class="  input-group col-sm-8 col-xs-offset-1 col-xs-10">
                        <input type="password" required=""
                               oninvalid="setCustomValidity('كلمة المرور الصحيحة تتكون من 6-18 حرف ورقم ')"
                               class="form-control" id="inputPassword"
                               placeholder="كلمة المرور">
                             <span class="input-group-addon bg-2ndColor">
                                <i class="fa fa-unlock"></i>
                                </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                        <div class="checkbox">
                            <label>

                                <input type="checkbox">
                                تذكرني
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                        <button type="submit" class="btn bg-1stColor btn-block">
                            دخول
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-8 col-xs-offset-7">
                        <a ng-click="showReset()" href="">
                            نسيت كلمة المرور؟
                        </a>
                    </div>
                </div>
            </form>
        </div>

        <!--Forget My Password Screen -->

        <div class="loginBox col-xs-10 col-md-4" ng-switch-when="resetPass">
            <div class="loginHeader">
                <div class="row">

                    <div class="col-sm-6 col-xs-6"><Strong>
                        استعادة كلمة المرور
                    </Strong>
                        <small><p>
                            ادخل بريدك الإلكتروني لاسنعادة كلمة المرور

                        </p></small>


                    </div>
                    <div class="col-sm-offset-2 col-sm-4  col-xs-6">
                        <button type="submit" class="btn bg-3rdColor btn-block">
                            مستخدم جديد
                        </button>
                    </div>
                </div>
            </div>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail2" class="col-sm-3 col-xs-6 control-label">
                        البريد الإلكتروني
                    </label>

                    <div class=" input-group col-sm-8 col-xs-offset-1 col-xs-10">
                        <input type="email" class="form-control" id="inputEmail2" placeholder="البريد الإلكتروني">
                                <span class="input-group-addon bg-2ndColor">
                                <i class="fa fa-at"></i>
                                </span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <button type="submit" class="btn bg-1stColor btn-block">
                            استعادة كلمة المرور
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>



</div>