<div ng-controller="loginController">
    <img class="login-img" src="images/bg21.jpg">

    <div class="loginBox col-xs-10 col-md-4">

        <div class="loginHeader">
            <div class="row">

                <div class="col-sm-6"><Strong>
                    تسجبل مستخدم جديد

                </Strong>
                    <small><p>
                        الدخول إلي نظام تواصل
                    </p></small>
                </div>
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn bg-3rdColor btn-block">
                        مستخدم جديد
                    </button>
                </div>
            </div>
        </div>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="FullName" class="col-sm-3 control-label">
                    الاسم بالكامل
                </label>

                <div class=" input-group col-sm-8">
                    <input type="text" class="form-control" id="FullName" placeholder="الاسم بالكامل">
                                <span class="input-group-addon bg-2ndColor">
                                <i class="fa fa-user"></i>
                                </span>
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-3 control-label">
                    التليفون
                </label>

                <div class=" input-group col-sm-8">
                    <input type="text" class="form-control" id="phone" placeholder="التليفون">
                                <span class="input-group-addon bg-2ndColor">
                                <i class="fa fa-phone"></i>
                                </span>
                </div>
            </div>
            <div class="form-group">
                <label for="FullName" class="col-sm-3 control-label">
                    البريد الإلكتروني
                </label>

                <div class=" input-group col-sm-8">
                    <input type="text" class="form-control" id="FullName" placeholder="البريد الإلكتروني">
                                <span class="input-group-addon bg-2ndColor">
                                <i class="fa fa-at"></i>
                                </span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">
                    كلمة المرور
                </label>

                <div class="  input-group col-sm-8">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="كلمة المرور">
                             <span class="input-group-addon bg-2ndColor">
                                <i class="glyphicon glyphicon-lock"></i>
                                </span>
                </div>
            </div>


            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">
                    تأكيد كلمة المرور
                </label>

                <div class="  input-group col-sm-8">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="تأكيد كلمة المرور
">
                             <span class="input-group-addon bg-2ndColor">
                                <i class="glyphicon glyphicon-lock"></i>
                                </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    الدولة
                </label>

                <div class="  input-group col-sm-8">
                    <select class="form-control" data-style="btn-inverse" data-live-search="true" ng-model="userRole"
                            ng-options="item.id as item.name for item in userRoles" required>

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    المدينة
                </label>

                <div class="  input-group col-sm-8">
                    <select class="form-control   data-style=" btn-inverse" data-live-search="true" ng-model="userRole"
                    ng-options="item.id as item.name for item in userRoles" required>

                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    نوع المستخدم
                </label>

                <div class="  input-group col-sm-8">
                    <select multiple="multiple" title="Please select a city" class="form-control bsmSelect"
                            ng-model="userRole" ng-options="item.id as item.name for item in userRoles" required>

                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn bg-1stColor btn-block">
                        تسجيل
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>